*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(167, 167, 167);

}
.wrapper{
    width: 80%;
    height: 900px;
    margin-top: 2.5rem;
    display: flex;
    border: 1px solid lightgray;
}
/* La parte sinistra contenente tutte le chat */
.contact-container{
    width: 35%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}
.chat-container{
    width: 65%;
    height: 100%;
    /* background-color: antiquewhite; */
    border-left: 1px solid lightgray;
}
.my-self, .selected-contact{
    height: 65px;
    width: 100%;
    background-color: #EAEAEA;
}
.notifications{
    height: 80px;
    width: 100%;
    background-color: #8EDAFC;
}
.search-bar{
    height: 50px;
    width: 100%;
    background-color: #ffff;
}
.contact{
    height: 75px;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 1rem;
}
.contact-info{
    margin-left: 1.25rem;
    align-self: flex-start;
    padding-top: .5rem;
}
.contact-name{
    color: rgb(110, 110, 110);
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.time-contact{
    margin-left: auto;
    margin-right: .5rem;
}
/* La parte destra contenente le info del contatto selezionato con annessa chat */
.contact-chat{
    background-image: url(/img/mine.jpg);
    height: 86%;
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.sent-message{
    height: 50px;
    background-color: #D5F9BA;
    width: 300px;
    border-radius: .5rem;
    align-self: flex-end;
}
.received-message{
    height: 50px;
    background-color: #FFFF;
    width: 300px;
    border-radius: .5rem;
    align-self: flex-start;
}



.text-side{
    background-color: #EAEAEA;
    height: 62px;
}

.active{
    background-color: gray;
}