*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100, 100, 100);

}
.wrapper{
    width: 80%;
    height: 900px;
    margin-top: 2.5rem;
    display: flex;
    border: 1px solid lightgray;
}
/* La parte sinistra contenente tutte le chat */
.contact-container{
    width: 35%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}
.chat-container{
    width: 65%;
    height: 100%;
    /* background-color: antiquewhite; */
    border-left: 1px solid lightgray;
}
.my-self, .selected-contact{
    height: 65px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-icons{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}
.notifications{
    height: 80px;
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.notifications i{
    color: white;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.notifications p{
    font-size: 1.05rem;
    color: darkslategray;
}
.notifications span{
    text-decoration: underline;
}
.search-bar{
    height: 50px;
    width: 100%;
    background-color: #ffff;
}
.contact{
    height: 75px;
    width: 100%;
    border-top: .5px solid lightgray;
    display: flex;
    align-items: center;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 1rem;
}
.contact-info{
    margin-left: 1.25rem;
    align-self: flex-start;
    padding-top: .5rem;
}
.contact-name{
    color: rgb(41, 41, 41);
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.time-contact{
    margin-left: auto;
    margin-right: .5rem;
}
/* La parte destra contenente le info del contatto selezionato con annessa chat */
.contact-chat{
    background-image: url(/img/mine.jpg);
    height: 86%;
    padding: 1rem 2.5rem;  
}
.selected-contact > .contact-info{
    margin-right: auto;
}
.messages{
    display: flex;
    flex-direction: column;
}
.single-message{
    /* height: 50px; */
    /* background-color: #D5F9BA; */
    width: 250px;
    border-radius: .5rem;
    margin: .5rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem;
    color: rgb(110, 110, 110);
    font-size: .95rem;
}
.sent{
    background-color: #D5F9BA;
    align-self: flex-end;
}
.received{
    background-color: #FFFF;
    align-self: flex-start;
}
.selected-contact{
    display: flex;
}


.text-side{
    background-color: #EAEAEA;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1rem;
}
.text-side input{
    width: 90%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: .5rem;
    
}

.active{
    background-color: rgb(238, 238, 238);
}