<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <section class="wrapper">
            <!-- La parte sinistra contenente tutte le chat -->
            <div class="contact-container">
                <article class="my-self">
                    <img src="./img/avatar_io.jpg" alt="">
                    <div class="my-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </article>
                <article class="notifications">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="enable-notifications">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </article>
                <article class="search-bar"></article>
                <article class="contact" v-for="(element, index) in contacts" @click="selectChat(index)" :class= "(index === activeChat) ? 'active' : '' ">
                    <img :src="element.avatar" alt="">
                    <div class="contact-info">
                        <p class="contact-name">{{element.name}}</p>
                        <span>{{element.messages[0].message}}</span>
                    </div>
                    <div class="time-contact">12.00</div>
                </article>
            </div>
            <!-- La parte destra contenente le info del contatto selezionato con annessa chat -->
            <div class="chat-container">
                <article class="selected-contact">
                    <img :src="contacts[activeChat].avatar" alt="">
                    <div class="contact-info">
                        <p class="contact-name">{{contacts[activeChat].name}}</p>
                        <span>Ultimo accesso oggi alle</span>
                    </div>
                    <div class="my-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </article>
                <!-- Chat section -->
                <article class="contact-chat">
                    <div class="messages" v-for="(element,index) in contacts[activeChat].messages">
                        <div class="single-message" :class= "(element.status == 'sent') ? 'sent' : 'received' ">
                            {{element.message}}
                        </div>
                    </div>
                    
                </article>
                
                <article class="text-side">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" v-model="myMessage" @keyup.enter="newMessage(myMessage)">
                    <i class="fa-solid fa-microphone"></i>
                </article>
            </div>
        </section>
    </div>

    <!-- JS and VUE script -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>
</html>